<!-- футтер -->

<div ></div>

<section id="footer" class="" style="background-color: rgb(31,37,41); font-size: 87%; color:#a2abb2; padding: 10px;">
    <div class="container" >
        <br>
        <div class="row " >
            <div class="col-sm-3 ">
                <a href="#" style="margin-left: -15px; "><img  src="" alt="" style="width:220px;" > </a>
                <div style="width: 50px; height: 3px; background-color: #3e60a1; margin-top: 1px; margin-bottom: 10px;"> </div>
                <div >
                    <ul>
                        <li><a href="">> Главная</a></li>
                        <li><a href="">> О Нас</a></li>
                        <li><a href="">> Технологии</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 ">

                <div style="font-size: 140%; margin-top: 33px; color: white;"> ПРОДУКТЫ </div>
                <div style="width: 50px; height: 3px; background-color: #3e60a1; margin-top: 10px; margin-bottom: 10px;"> </div>
                <div style="">
                    <ul>
                        <li><a href="">> Air pro model</a></li>
                        <li><a href="">> Air Angel model</a></li>
                    </ul>
                </div>

            </div>
            <div class="col-sm-3 ">
                <div style="font-size: 140%; margin-top: 33px;color: white;">ОБРАНАЯ СВЯЗЬ </div>
                <div style="width: 50px; height: 3px; background-color: #3e60a1; margin-top: 10px; margin-bottom: 10px;"> </div>
                <div style="">
                    <ul>
                        <li><a class=" modal-call-back" style="cursor: pointer; " data-phone="2" data-mess="2" data-title="Что Вас интересует?">Написать</a></li>
                        <li><a class=" modal-call-back" style="cursor: pointer; " data-phone="2" data-mess="2" data-title="Что Вас интересует?">Партнерам</a></li>
                        <li><a class=" modal-call-back" style="cursor: pointer; " data-phone="2" data-mess="2" data-title="Оставить отзыв">Оставить отзыв</a></li>
                        <li><a  href="" >F</a> / <a  href="" > VK </a> / <a  href="" > G+ </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div style="font-size: 140%; margin-top: 33px;color: white;">ИНФОРМАЦИЯ О ДОСТАВКЕ</div>
                <div style="width: 50px; height: 3px; background-color: #3e60a1; margin-top: 10px; margin-bottom: 10px;"> </div>
                <div style="">
                    <p>Доставка осуществляется по всеЙ Украине, Оплата при получении, Безналичный расчет, Доставка ежедневно с пн-сб. с 09.00 - 20.00</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</section>
<!-- футтер закончен -->
<footer>
    <!-- JS by stas -->
    <script src="{{ .base_path }}/public/js/sss_myJs.js"></script>
    <script src="{{ .base_path }}/public/lib/bootstrap-4.1.1/js/bootstrap.min.js"></script>
    <!-- owlcarusel ang settings_owl -->
    <script src="{{ .base_path }}/public/lib/OwlCarousel2-2.3.4/owl.carousel.min.js"></script>
    <!--light Box 2-->
    <script src="{{ .base_path }}/public/lib/lightbox-master/dist/ekko-lightbox.min.js"></script>
</footer>

</body>
<!-- Сайт разработал Станислав Петрович -->
</html>

