{{ template "header.html" .}}

<section >
    <div class="container">
        <div class="row" style="padding-left: 15px; padding-right: 15px;">

            <div class="col-md-9"style="border-left: 1px solid #e2e2e2;">
                <div class="row" style="background-color: #eeeeee;">
                    <div class="col" style="">
                        <nav aria-label="breadcrumb" >
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Профиль</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Объявления</li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row" >
                    <div class="col" style="">
                        <br>
                        <br>
                        <div>
                            <form action="./edit_advert" type="post">
                                <div class="input-group">
                                    <select required  name="type_advert" class="custom-select" id="">
                                        <option value="" selected>Выберите категорию...</option>
                                        <option value="baragolka">Барахолка</option>
                                        <option value="rent">Недвижимость</option>
                                        <option value="uslugi">Услуги Организации и Заведения</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button href="#" class="btn btn-success " type="submit">+ Добавить объявление</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <br>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Барахолка (3)</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Недвижимость (0)</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Организации Услуги Заведения (0)</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <br>
                                <!--Пункт списка / -->
                                <div class="media" style="margin-top: 10px; margin-bottom: 30px; ">
                                    <div class="bg-centered search_item_list_img mr-3" style="width: 100px; min-height: 100px; background-color: #b9b9b9; background-image: url(/public/img/);"></div>
                                    <div class="media-body mr-3">
                                        <a href="/stuff/{{.search_list.id_list}}"><h2 class="search_item_list_header">Старые вонючие носки </h2></a>

                                        <p class="search_item_list_desk">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias amet asperiores, dicta doloribus ea earum est facere fugit harum itaque neque obcaecati quod similique ullam unde ut vitae voluptate!</p>
                                        <div class="search_item_list_prise">123 грн.</div>
                                    </div>
                                    <div>
                                        <a href="#" class=" btn  btn-sm btn-outline-success" >Редактировать</a>
                                        <div style="height: 10px;"></div>
                                        <a href="#" class="btn btn-sm btn-outline-danger" >Удалить</a>
                                    </div>
                                </div>
                                <!-- / Пункт списка -->
                                <!--Пункт списка / -->
                                <div class="media" style="margin-top: 10px; margin-bottom: 30px; ">
                                    <div class="bg-centered search_item_list_img mr-3" style="width: 100px; min-height: 100px; background-color: #b9b9b9; background-image: url(/public/img/);"></div>
                                    <div class="media-body mr-3">
                                        <a href="/stuff/{{.search_list.id_list}}"><h2 class="search_item_list_header">Старые вонючие носки </h2></a>

                                        <p class="search_item_list_desk">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias amet asperiores, dicta doloribus ea earum est facere fugit harum itaque neque obcaecati quod similique ullam unde ut vitae voluptate!</p>
                                        <div class="search_item_list_prise">123 грн.</div>
                                    </div>
                                    <div>
                                        <a href="#" class=" btn  btn-sm btn-outline-success" >Редактировать</a>
                                        <div style="height: 10px;"></div>
                                        <a href="#" class="btn btn-sm btn-outline-danger" >Удалить</a>
                                    </div>
                                </div>
                                <!-- / Пункт списка -->
                                <!--Пункт списка / -->
                                <div class="media" style="margin-top: 10px; margin-bottom: 30px; ">
                                    <div class="bg-centered search_item_list_img mr-3" style="width: 100px; min-height: 100px; background-color: #b9b9b9; background-image: url(/public/img/);"></div>
                                    <div class="media-body mr-3">
                                        <a href="/stuff/{{.search_list.id_list}}"><h2 class="search_item_list_header">Старые вонючие носки </h2></a>

                                        <p class="search_item_list_desk">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias amet asperiores, dicta doloribus ea earum est facere fugit harum itaque neque obcaecati quod similique ullam unde ut vitae voluptate!</p>
                                        <div class="search_item_list_prise">123 грн.</div>
                                    </div>
                                    <div>
                                        <a href="#" class=" btn  btn-sm btn-outline-success" >Редактировать</a>
                                        <div style="height: 10px;"></div>
                                        <a href="#" class="btn btn-sm btn-outline-danger" >Удалить</a>
                                    </div>
                                </div>
                                <!-- / Пункт списка -->
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <br>
                                Объявлений нет
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <br>
                                Объявлений нет
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="background-color: #e0e0e0;">
                <div  style="width: 100%; height: 100%; margin-bottom: 30px;">
                    <br>
                    <br>
                    <div class="d-flex justify-content-center" style="width: 100%;">
                        <div style="width: 100px; height: 100px; border-radius: 50%; background-color: #919191;"></div>
                    </div>
                    <div class="text-center">
                        <div class="h5" style="margin-top: 15px;"> Иванов Петр Сергеевич </div>
                        <div>Телефон: (063) 815-84-81</div>
                        <div>Почта: pbymsz@gmail.com</div>
                    </div>
                    <br>
                    <div class="text-center">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link " id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Мой профиль</a>
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Объявления</a>
                            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Сообщения <b>+2</b></a>
                            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Настройки</a>
                        </div>
                    </div>


                </div>
            </div>



        </div>
    </div>
</section>

{{ template "footer.html" .}}